body {
    background: #fbfbe8;
}

.carousel-control-prev-icon {
    background-color: #fd831f94 ; 
}
.carousel-control-next-icon {
    background-color: #fd831f94
}

.increment-btn,
.decrement-btn {
    cursor: pointer;
}

/* Bread Crumb STATR */
.breadcrumb {
    display: inline-block;
    padding: 0 20px 0 0;
    margin: 0;
    background: transparent;
    overflow: hidden;
    border-radius: 0;
    position: relative;
}
.breadcrumb li {
    float: left;
    margin-right: 10px;
    background: #001253;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease 0s;
}
.breadcrumb li:last-child {
    padding: 10px 25px;
    margin-right: 0;
    background: #f48b07;
    color: #fff;
    position: relative;
}
.breadcrumb li:hover {
    background: #f48b07;
}
.breadcrumb li:before {
    display: none;
}
.breadcrumb li a {
    display: block;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
@media only screen and (max-width: 767px) {
    .breadcrumb li {
        margin-right: 3px;
    }
    .breadcrumb li a,
    .breadcrumb li:last-child {
        padding: 10px;
    }
}
@media only screen and (max-width: 479px) {
    .breadcrumb li {
        margin-right: 3px;
    }
    .breadcrumb li a,
    .breadcrumb li:last-child {
        font-size: 13px;
        font-weight: normal;
        padding: 4px 3px;
    }
}
/* Bread Crumb END */
.navbar-brand {
    font-weight: bold;
}

.needed-Field {
    color: red;
}

.btn-info {
    background-color: #FD841F;
}

.bg-info {
    background-color: #FD841F;
}

a {
    font-weight: bolder !important;
}
