body {
    font-family: sans-serif;
}
.card.merchant {
    width: 300px;
    min-height: 400px;
    background: #fff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.card.merchant:hover {
    box-shadow: 0 30px 70px rgba(0, 0, 0, 0.2);
}
.card.merchant .box {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}
.card.merchant .box .img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.card.merchant .box .img img {
    width: 100%;
    height: 100%;
}
.card.merchant .box h2 {
    font-size: 20px;
    color: #262626;
    margin: 20px auto;
}
.card.merchant .box h2 span {
    font-size: 14px;
    background: #E14D2A;
    color: #fff;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 15px;
}
.card.merchant .box p {
    color: #262626;
}
.card.merchant .box span {
    display: inline-flex;
}
.card.merchant .box ul {
    margin: 0;
    padding: 0;
}
.card.merchant .box ul li {
    list-style: none;
    float: left;
}
.card.merchant .box ul li a {
    display: block;
    color: #aaa;
    margin: 0 10px;
    font-size: 20px;
    transition: 0.5s;
    text-align: center;
}
.card.merchant .box ul li:hover a {
    color: #e91e63;
    transform: rotateY(360deg);
}

.merchant_data ul li {
    list-style: none;
    float: left;
}

.merchant_data ul li a {
    display: block;
    color: #aaa;
    margin: 0 10px;
    font-size: 20px;
    transition: 0.5s;
    text-align: center;
}

.merchant_data ul li:hover a {
    color: #e91e63;
    transform: rotateY(360deg);
}
